
    <div>
      <form action="/user/generateToken" method='POST' enctype="multipart/form-data" >
        <div>
          <div>
            <label id='title'>Title</label>
          </div>
          <input type='text' id="title" name="title"  for='title'>
        </div>
        <div>
          <div> 
            <label id='price'>Price</label>
          </div>
          <input type='text' id="price" name='price'  for='name'>
        </div>
        <div>
          <div>
            <label id='details'>Details</label>
          </div>
          <input type='text'  id="details" name='details' for='name'>
        </div>
        <div>
          <div>
            <label id='image'>Image</label>
          </div>
          <input type='file' id="file" name='file' for='image'></div>
        
          <button type="submit">Add</button>
        </div>
      </form>
  </div>
