
    <div>
      <form action="/home/register" method='post' >
        <div>
          <div>
            <label id='title'>Title</label>
          </div>
          <input type='text' id="title" name="title"  for='title'>
        </div>
        <div>
          <div> 
            <label id='price'>Phone</label>
          </div>
          <input type='text' id="phone" name='phone'  for='name'>
        </div>
        <div>
          <div>
            <label id='details'>Email</label>
          </div>
          <input type='text'  id="email" name='email' for='name'>
        </div>
        <div>
          <div>
            <label id='image'>Password</label>
          </div>
          <input type='password' id="password" name='password' for='image'>
        </div>
        <div>
          <div>
            <label id='image'>Confirm Password</label>
          </div>
          <input type='password' id="cpassword" name='cpassword' for='image'>
        </div>
        
          <button type="submit">Add</button>
        </div>
      </form>
  </div>
